[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
flake8 = "*"
isort = "*"

[packages]
isort = "*"
flake8 = "*"
requests = "*"
django = "*"
psycopg2 = "*"
dj-database-url = "*"
django-extensions = "*"

[requires]
python_version = "3.6"
